<nav>
	<div class="logo-container">
		<a href="{{ path('app_home') }}" class="logo">LOGO</a>
	</div>
	<div class="menu-container">
		<ul>
			<li><a href="{{ path('app_home') }}">Accueil</a></li>
			<li><a href="{{ path('app_about_us') }}">Qui sommes-nous</a></li>
			<li><a href="{{ path('app_contact') }}">Contact</a></li>
			<li><a href="{{ path('app_login') }}">Connexion</a></li>
		</ul>
	</div>
</nav>
