<nav>
	<div class="logo-container">
		<a href="{{ path('home_index') }}" class="logo">LOGO</a>
	</div>
	<div class="menu-container">
		<ul>
			<li><a href="{{ path('home_index') }}">Accueil</a></li>
			<li><a href="{{ path('about_us') }}">Qui sommes-nous</a></li>
			<li><a href="{{ path('contact_us') }}">Contact</a></li>
			<li><a href="{{ path('connexion_form') }}">Connexion</a></li>
		</ul>
	</div>
</nav>
